*, * ::before, * ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

:root {

        --primary-color: #0a61ae;
        --primary-color-100: #e2f8ff;
        --primary-color-400: #61dafb;
        --primary-color-800: #0a61ae;
        --secondary-color: #ffda4b;
        --secondary-color-100: #fffbe6;;
        --secondary-color-800: #8b6f00;
        --base: #555;
        --base-100: #f1f1f1;
        --base-400: #555;
        --base-800: #000;
        --white-color: #fff;
        --black-color: #000;



        --font-light: 300;
        --font-medium: 400;
        --font-bold: 700;

        --font-size-xxs: 0.625rem;
        --font-size-xs: 0.75rem;
        --font-size-sm: 0.875rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.125rem;
        --font-size-xl: 1.25rem;
        --font-size-xxl: 1.5rem;
        --font-size-xxxl: 2rem;
        --font-size-title: 64px;
        --font-size-subtitle: 48px;

        --border-radius: 0.25rem;
        --border-radius-sm: 0.125rem;
        --border-radius-lg: 0.5rem;
        --border-radius-xxl: 1rem;
        --border-radius-xxxl: 2rem;
        --border-radius-circle: 50%;
}

body {
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: var(--font-size-xl);
}

a {
        text-decoration: none;
        color: var(--primary-color);
        &:hover {
                color: var(--secondary-color);
                text-decoration: underline;
        }
}

header {
        display: flex;
        justify-content:space-between;
        margin: auto;
        padding: 10px 0 10px 0;
        max-width: 1440px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .logo-holder {
            display: flex;
            padding: 10px;
            align-items: center;
            font-weight: 600;
            color: var(--base-800);

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size-xxl);
            background-color: var(--base-800);
            color: var(--base-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: var(--border-radius-circle);
        }

        .logo-text{
            flex: 1;

        }
    }
         
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 1440px;
        margin: 0;

        ul {
            display: flex;
            list-style: none;
            gap: 5px;
            /* padding: 0;
            margin: 0; */

            li {
                display: inline-block;
                /* margin-right: 20px;
                font-size: var(--font-size-lg);
                font-weight: var(--font-medium);
                color: var(--base-800); */

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);
                    &:hover {
                        color: var(--base-800);
                        background-color: var(--base-100);
                        border-radius: var(--border-radius);
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toggle {
            display: none;
            color: var(--base-800);
            padding: 10px;

        }
}

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: var(--base-100);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover {
        text-decoration: none;
        background-color: var(--base-800);
        color: var(--white-color);
    }
    &.white {
        background-color: var(--white-color);
        color: var(--base-800);
        &:hover {
            background-color: var(--base-100);
            color: var(--primary-color);
        }
    }

    &.black {
        background-color: var(--black-color);
        color: var(--white-color);
        &:hover {
            background-color: var(--base-400);
            color: var(--base-100);
        }
    }
}

.btn {
    background-color: transparent;
    color: var(--base-400);
}

.bot {
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: var(--white-color);
    transition: 3s ease all;
    &:hover {
        background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    }
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--base-800);
}

h1 {
    font-size: var(--font-size-title);
    line-height: 1;
    margin-bottom: 10px;
    small {
        display: block;
        font-weight: 100;
    }
}



.hero {
    display: flex;
    margin-top: 30px;
    .hero-blue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        background-color: var(--primary-color-100);
        border-radius: var(--border-radius-xxxl);
        padding: 30px;
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .social-links {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }

    }
    .hero-yellow {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 1;
        background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 18%, rgba(255,218,75,1) 40%);
        border-radius: var(--border-radius-xxxl);
        padding: 30px 30px 0 30px;

        img {
            margin-top: -60px;
            max-width: 420px;
            margin-bottom: 10px;
        }

    }
}

.logos {
    background-color: var(--base-100);
    border-radius: var(--border-radius-xxxl);
    padding: 30px 0;
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track {
            display: flex;
            gap: 10px;
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;

        }
    }
}

h2 {
    font-size: var(--font-size-title);
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    padding: 30px;
    small {
        display: block;
        font-weight: 100;
        font-size: .5rem;
        color: var(--base);
    }
}

.skills {
    .holder-blue {
        background-color: var(--primary-color-100);
        border-radius: var(--border-radius-xxxl);
        padding: 30px;
        display: flex;
        .left-column {
            flex: 1;
            ul {
                list-style: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: var(--primary-color-400);
                    padding: 10px 20px;
                    margin-bottom: 10px;
                    border-radius: 15px;
                }
            }
        }
    
        .right-column {
            flex: 1;
            p {
                margin-top: 20px;
            }
    
        }
    }
}

.work-experience {
    .jobs {
        display: flex;
        gap: 30px;
        article {
            background-color: var(--secondary-color-100); 
            padding: 30px;
            border-radius: 30px;
            flex: 1;
        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: var(--font-size-lg);
            }
        div {
            font-weight: 600;
            margin-bottom: 5px;
            color: var(--base-800);
            font-size: var(--font-size-sm);
            }
        p {
            margin-bottom: 10px;
            font-size: var(--font-size-sm);
            }
        }
        figure {
            width: 100%;
            padding-top: 56.25%;
            overflow: hidden;
            position: relative;
            border-radius: 15px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                transition: 3s ease all;
            }
            figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                color: var(--base-100);
                text-align: center;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s ease all;
            }

            &:hover {
                figcaption {
                    opacity: 1;
                    visibility: visible;
                }
                img {
                    transform: scale(1.2);
                }
        }
        }
    }
}

.bento {
    .bento-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 960px;
       .bento-item {
        padding: 30px;
        background-color: var(--base-100);
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            transition: 3s ease all;
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
    }
        &:nth-child(1) {
            grid-column: span 2;
            grid-row: span 2;
        }
        &:nth-child(2) {
            grid-column: span 2;
            grid-row: span 1;
        }
        &:nth-child(3) {
            grid-column: span 1;
            grid-row: span 1;
        }
        &:nth-child(4) {
            grid-column: span 1;
            grid-row: span 1;
        }
        &:nth-child(5) {
            grid-column: span 2;
            grid-row: span 1;
        }
        &:nth-child(6) {
            grid-column: span 5;
            grid-row: span 3;
        }
    }
}
}

.chatbot {
    .chatbot-blue {
        background-color: var(--primary-color-100);
        border-radius: 30px;
        padding: 30px;
        gap: 30px;
        display: flex;
        p {
            margin-bottom: 30px;
        }
        .chat-info {
            flex:3;
            padding-right: 30px;
        }
        .chat-box {
            display: flex;
            flex-direction: column;
            flex: 4;
            background-color: var(--white-color);
            border-radius: 15px;
            padding: 30px;
            .scroll-area {
                max-height: 300px;
                height: 300px;
                overflow-y: scroll;
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 15px;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        &:nth-child(even) {
                            text-align: right;
                            justify-content: flex-end;
                            flex-direction: row-reverse;
                            span {
                                background-color: var(--secondary-color);
                            }
                        }
                        span {
                            background-color: var(--primary-color-400);
                            width: 64px;
                            height: 64px;
                            border-radius: var(--border-radius-circle);
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                        }
                        div {
                            flex: 1;
                        }
                    }
                }
            }

            .chat-message {
                display: flex;
                margin-top: 15px;
                gap: 15px;
                input {
                    border-radius: 10px;
                    flex: 1;
                    padding: 15px;
                    border: 1px solid transparent;
                    background-color: var(--base-100);
                    &:hover {
                        outline: none;
                        background-color: var(--white-color);
                        border: 1px solid var(--base-100);
                    }
    
                    &:focus {
                        outline: none;
                        background-color: var(--white-color);
                        border: 1px solid var(--base-100);
                    }
                }
                

                button {
                    border: none;
                    cursor: pointer;
                }
            }

        }
    }
}



@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Media Query for 1440px */
@media (max-width: 1440px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Media Query for 1024px */
@media (max-width: 1024px) {
    h1 {
        font-size: var(--font-size-subtitle);
    }

    h2 {
        font-size: var(--font-size-subtitle);
    }

    header {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .logos {
        border-radius: 0;
    }

    .holder-blue {
        flex-direction: column;
    }

    .work-experience {
        .jobs {
            flex-direction: column;
        }
    }

    .bento {
        .bento-grid {
            grid-template-rows: repeat(8, 1fr);
            .bento-item {
                &:nth-child(1) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
                &:nth-child(2) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
                &:nth-child(3) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
                &:nth-child(4) {
                    grid-column: span 3;
                    grid-row: span 2;
                }
                &:nth-child(5) {
                    grid-column: span 3;
                    grid-row: span 4;
                }
                &:nth-child(6) {
                    grid-column: span 5;
                    grid-row: span 2;
                }
                
            }
        }
    }

    .chatbot {
        .chatbot-blue {
            flex-direction: column;
            /* align-items: center; */
        }
    }
    
}

/* Media Query for 768px */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        }

    nav {
        margin-top: 10px;
        width: 100%;
        ul {
            display: none;
            flex-direction: column;
            text-align: center;
            width: 100%;
            a {
                width: 100%;
            }
            &.active {
                display: flex;
            }
        }
        .mobile-toggle {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }

    span {
        display: none;
    }

    .bento {
        .bento-grid {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
            .bento-item {
                height: 240px;
            }
        }
    }

    .chatbot .chatbot-blue .chat-box .scroll-area ul li span {
        width: 48px;
        height: 48px;
    }
}